<!doctype html>
<html>
<head>
    <title>Collaboration Network Analysis for <%= who %></title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cytoscape/2.7.9/cytoscape.min.js"></script>
    <script src="https://cdn.rawgit.com/cytoscape/cytoscape.js-cose-bilkent/1.3.8/cytoscape-cose-bilkent.js"></script>
</head>
<style>
    #cy {
      width: 95%;
      height: 95%;
      position: absolute;
      top: 2em;
      left: 0;
    }
    .sk-wave {
      margin: 40px auto;
      width: 50px;
      height: 40px;
      text-align: center;
      font-size: 10px;
    }
    .sk-wave .sk-rect {
      background-color: #666;
      height: 100%;
      width: 6px;
      display: inline-block;
      -webkit-animation: sk-waveStretchDelay 1.2s infinite ease-in-out;
              animation: sk-waveStretchDelay 1.2s infinite ease-in-out;
    }
    .sk-wave .sk-rect1 {
      -webkit-animation-delay: -1.2s;
              animation-delay: -1.2s;
    }
    .sk-wave .sk-rect2 {
      -webkit-animation-delay: -1.1s;
              animation-delay: -1.1s;
    }
    .sk-wave .sk-rect3 {
      -webkit-animation-delay: -1s;
              animation-delay: -1s;
    }
    .sk-wave .sk-rect4 {
      -webkit-animation-delay: -0.9s;
              animation-delay: -0.9s;
    }
    .sk-wave .sk-rect5 {
      -webkit-animation-delay: -0.8s;
              animation-delay: -0.8s;
    }
  @-webkit-keyframes sk-waveStretchDelay {
    0%, 40%, 100% {
      -webkit-transform: scaleY(0.4);
              transform: scaleY(0.4);
    }
    20% {
      -webkit-transform: scaleY(1);
              transform: scaleY(1);
    }
  }
  @keyframes sk-waveStretchDelay {
    0%, 40%, 100% {
      -webkit-transform: scaleY(0.4);
              transform: scaleY(0.4);
    }
    20% {
      -webkit-transform: scaleY(1);
              transform: scaleY(1);
    }
  }
</style>
<body>
<div id="controls">
  <select id="years">
    <% all_years.each do |year| %>
      <% if years.include? year %>
        <option value="<%= year %>"><%= year %></option>
      <% else %>
        <option value="<%= year %>" disabled><%= year %> (data set too big to display)</option>
      <% end %>
    <% end %>
  </select>
</div>
    <div class="sk-wave" id="loading">
      <div class="sk-rect sk-rect1"></div>
      <div class="sk-rect sk-rect2"></div>
      <div class="sk-rect sk-rect3"></div>
      <div class="sk-rect sk-rect4"></div>
      <div class="sk-rect sk-rect5"></div>
    </div>
    <div id="cy"></div>
    <script>
    $(document).ready(function(){
      $("select#years").change(function(){
        $("#cy").empty();
        dataset = $(this).val();
        $('#loading').show();
        drawGraph(dataset);
      });
      $('#loading').show();
      drawGraph(<%= years.first %>);
    });

    function drawGraph(dataset) {
      $.ajax({
        url: dataset+'.json',
        dataType: 'json',
        success: function(data){
          var eles = [];
          for(var key in data.nodes) {
            var newNode = data.nodes[key];
            newNode.value = newNode.group;
            delete newNode.group;
            eles.push({group: "nodes", data: newNode}); 
          }
          for(var key in data.links) {
            var newEdge = data.links[key];
            eles.push({group: "edges", data: newEdge}); 
          }
          var cy = cytoscape({
            container: document.getElementById('cy'),
            elements: eles,
            layout: {
              name: "cose-bilkent",
              stop: function(){
                $('#loading').hide();
              },
              // Whether to fit the network view after when done
              fit: true,
              // Padding on fit
              padding: 20,
              // Whether to enable incremental mode
              randomize: true,
              // Node repulsion (non overlapping) multiplier
              nodeRepulsion: 4500,
              // Ideal edge (non nested) length
              idealEdgeLength: 50,
              // Divisor to compute edge forces
              edgeElasticity: 0.45,
              // Nesting factor (multiplier) to compute ideal edge length for nested edges
              nestingFactor: 0.1,
              // Gravity force (constant)
              gravity: 0.25,
              // Maximum number of iterations to perform
              numIter: 2500,
              // For enabling tiling
              tile: true,
              // Type of layout animation. The option set is {'during', 'end', false}
              animate: 'end',
              // Represents the amount of the vertical space to put between the zero degree members during the tiling operation(can also be a function)
              tilingPaddingVertical: 10,
              // Represents the amount of the horizontal space to put between the zero degree members during the tiling operation(can also be a function)
              tilingPaddingHorizontal: 10,
              // Gravity range (constant) for compounds
              gravityRangeCompound: 1.5,
              // Gravity force (constant) for compounds
              gravityCompound: 1.0,
              // Gravity range (constant)
              gravityRange: 3.8
            },
            style: [
              {
                selector: 'node',
                style: {
                  shape: 'circle',
                  width: function( ele ){ return !ele.data('value') ? 0 : ele.data('value')*5 },
                  height: function( ele ){ return !ele.data('value') ? 0 : ele.data('value')*5 },
                  'background-color': 'blue',
                  label: function( ele ){ return !ele.data('name')||!ele.data('value') ? 'NULL' : ele.data('name') + ' (' + ele.data('value') + ')' },
                  'font-size': 5
                }
              },
              {
                selector: 'edge',
                style: {
                  width: function( ele ){ return !ele.data('value') ? 0 : ele.data('value')*2 },
                  'line-color': '#ccc'
                }
              }
            ]      
          });
        }
      });
    }
    </script>
</body>
</html>
